* {
    padding: 0;
    margin: 0;

}

html {
    background: #212327;
    font-family: "Roboto";
    font-size: 1.2rem;


}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 1200px;

}


.navbar {
    width: 100%;
    height: 35px;
    color: #667eea;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;


}

.navbar-logo-RL {
    width: 50px;
    padding-left: 30px;
}

.navbar-list {
    width: 50vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;


}
.navbar-item {
    color: #8295ed  ;
}

.navbar-item:hover {
    transition: .5s;
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}
.logo-item:hover{
    transition: .5s;
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}
.profile-container {
    width: 100%;
    
}

.profile {

    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
   
}


.profile-texts {
    width: 80%;
    height: 50vh;
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #cee1f5;

    align-items: flex-start
}


h1 {
    color: #84a9f3;
    font-size: 3rem;
}

.img-container {
    width: 600px;
    height: 600px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 100%;
    margin-top: 50px;
    
   
    




}

.profile-pic {

    width: 600px;
    border-radius: 100%;
    overflow: hidden;
    
}



.profile-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    


}

.profile-icons-item {


    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.profile-icons-tailwind{
    border-radius: 15px;
}
.profile-icons-html{
    scale: 1.2;
}
.profile-icons-css{
    scale: 1.2;
}


.profile-icon-container {
    color: #d2d6ec;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
}

.profile-icon-container>img:hover {
    transition: .5s;
    transform: scale(1.2);
}

h3 {
    color: #a9c1f1;
    padding: 50px ;
    font-size: 2.5rem;

}


.projects {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 0px auto;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: start;
}

h3 {
    color: #a9c1f1;
    padding: 50px ;
    font-size: 2.5rem;

}

.projects-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project {
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}

.project-window {
    height: 300px;
    width: 500px;
    padding-bottom: 20px;
}
.project-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-around;


}
.project-icon-container {
    padding:  20px 0;
}

.project-title:hover{
    scale: 1.2;
}


.img-title {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}
.img-title:hover{
    color: #84a9f3;
    scale: 1.2;

}
.courses {
    padding:100px 0 ;
}
.courses-container {
    position: relative;
}

.carousel-elemento {
    padding: 0px 20px;

}

.course-img {
    border-radius: 15px;
}

.carousel-back,
.carousel-next {
    font-size: xx-large;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 50px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: white;
    opacity: 20%;
}

.carousel-back {
    left: -30px;

}

.carousel-next {
    right: -30px;

}

.carousel-back:hover,
.carousel-next:hover {
    opacity: 100%;
}

.carousel-back-2,
.carousel-next-2 {
    font-size: xx-large;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 50px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: white;
    opacity: 20%;
}

.carousel-back-2 {
    left: -30px;

}

.carousel-next-2 {
    right: -30px;

}

.carousel-back-2:hover,
.carousel-next-2:hover {
    opacity: 100%;
}


.carousel-indicators .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;

}

.carousel-indicators .glider-dot:hover {
    opacity: .5;

}

.carousel-indicators .glider-dot.avtive {
    opacity: 1;

}
.carousel-indicators-2{
    padding-top: 30px;
}

.carousel-indicators-2 .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;

}

.carousel-indicators-2 .glider-dot:hover {
    opacity: .5;

}

.carousel-indicators-2 .glider-dot.avtive {
    opacity: 1;

}

a {
    text-decoration: none;
}



.resume-conatiner {
    width: 1200px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}


.btn-download{
    padding-top: 20px;
    background-color: #212327;
    color: #667eea;
    width: fit-content;
    font-size: 1.2rem;
    border-radius: 15px;
}
.download-btn-text{
    font-size: 1rem;
    padding-left: 4px;
    
    
}

.fa-solid .fa-circle-down{
    font-size: xx-large ;
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
}
.resume-img{
    width: 400px;
    border-radius: 15px;
}

footer {
    height: 50px;
    width: 100%;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 100px;

}

.contact-icon {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.contact-icon:hover{
    scale: 1.2;
}

.contact-icons {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.icon-linkedin {
    
    
    width: fit-content;
    background-color: white;
    border-radius: 2px;
    

}
.img-icon {
    width: 32px;
    border-radius: 5px;
    margin-right: 10px;
}
.fa-github{
    font-size: xx-large;
    margin-right: 10px;
}



 @media screen and (max-width: 720px) {

    html,
    body {
        width: 100%;
        padding: 0;
        margin: 0;
        overflow-x: hidden;
    }

    .navbar {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .navbar-logo-RL{
        padding: 0;
    }

    .navbar-item {
        visibility: hidden;

    }
 


    .profile {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: small
    }
    .profile-texts{
        height: 400px;
        width: 98%;
        margin: 0;
        padding:0 10px;
        font-size: 1.2rem;
    }
    .profile-container{
        width: 100vw;
        
    }
    h1{
        font-size: 1.2rem
    }

    .profile-icons{
        width: 100vw;

        padding: 0;
        justify-content: space-around;
    }
    .profile-icon-container{
        width: fit-content;
        padding-top: 20px;
    }
    .profile-icons-item{
        width: 40px;
        height: 40px;
    }
    .profile-picture-container{
       
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
    }
    .img-container{
        width: 300px;
        height: 300px;
        margin: 0;
        margin-top:30px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
  .profile-pic{
    width: 300px;
    height: 300px;
    
  }
  h3{
    font-size:larger;
  }

    .projects-container {
        flex-direction: column;
    }
    .project-window {
        height: 200px;
        width: 300px;
        padding-bottom: 20px;
    }

    .resume-section {
        height: fit-content;
         width: 100%;
         display: flex;
         flex-direction: column;
         justify-items: center; 
     }

     .resume-conatiner {
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-self: center;
    }
    
 

    .footer {
        padding: 0;
        margin: 0;
        width: 100%;
        flex-direction: column-reverse;
        padding-bottom: 25px ;

    }

    .contact-icons {
        width: 100%;
        padding: auto;
        justify-content: space-around;
       
        
    }
    .img-icon{
        width: 35px;
    }

    .footer-autor {
     
        padding: 0;
        margin: 0;
        visibility: hidden;
    }

} 