* {
    padding: 0;
    margin: 0;

}

html {
    background: #212327;
    font-family: "Roboto";
    font-size: 1.2rem;


}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    width: 100%;
    max-width: 1200px;

}


.navbar {
    width: 100%;
    height: 35px;
    color: #84a9f3;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    align-items: center;


}

.navbar-logo-RL {
    width: 50px;
    padding-left: 40px;
}

.navbar-list {
    width: 50vw;
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;


}

.navbar-item:hover {
    transition: .5s;
    transform: scale(1.2);
    color: white;
    cursor: pointer;
}

.profile-container {
    width: 100%;
    
}

.profile {

    width: 100%;

    margin: 0 auto;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border-radius: 4%
}


.profile-texts {
    width: 80%;
    height: 50vh;
    
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: #cee1f5;

    align-items: flex-start
}


h1 {
    color: #84a9f3;
    font-size: 3rem;
}

.img-container {
    width: 600px;
    height: 600px;
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    border-radius: 100%;
    margin-top: 50px;
    margin-right: 20px;
   
    




}

.profile-pic {

    width: 600px;
    border-radius: 100%;
    overflow: hidden;
    
}



.profile-icons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    


}

.profile-icons-item {


    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    

}
.profile-icons-tailwind{
    border-radius: 15px;
}
.profile-icons-html{
    scale: 1.2;
}
.profile-icons-css{
    scale: 1.2;
}


.profile-icon-container {
    width: 1fr;
    height: 100px;
    color: #d2d6ec;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
   
}

.profile-icon-container>img:hover {
    transition: .5s;
    transform: scale(1.2);
}

.projects {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px auto;
    padding: 100px 0 0 0;
    display: flex;
    flex-direction: column;

    align-items: start;
}

h3 {
    color: #a9c1f1;
    padding-left: 50px;
    padding-bottom: 50px;
    font-size: 2.5rem;

}

.projects-container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 50px auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project-container {
    background-color: white;
    border-radius: 20px;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.project {

    color: white;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;

}

.project-window {
    height: 300px;
    width: 500px;
    padding-bottom: 20px;
}


.course-img:hover {
    transition: .5s;
    transform: scale(1.5);

}


.img-title {
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.courses-container {
    position: relative;
}

.carousel-elemento {
    padding: 0px 20px;

}

.course-img {
    border-radius: 15px;
}

.carousel-back,
.carousel-next {
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    top: calc(50% - 35px);
    cursor: pointer;
    line-height: 30px;
    text-align: center;
    background: none;
    color: white;
    opacity: 20%;
}

.carousel-back {
    left: -30px;

}

.carousel-next {
    right: -30px;

}

.carousel-back:hover,
.carousel-next:hover {
    opacity: 100%;
}

.carousel-indicators .glider-dot {
    display: block;
    width: 30px;
    height: 4px;
    background: #fff;
    opacity: .2;

}

.carousel-indicators .glider-dot:hover {
    opacity: .5;

}

.carousel-indicators .glider-dot.avtive {
    opacity: 1;

}

a {
    text-decoration: none;
}

footer {

    width: 90%;
    height: 50px;
    color: azure;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;

}

.contact-icon {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-icons {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.icon-linkedin {
    
    
    width: fit-content;
    background-color: white;
    border-radius: 2px;
    

}
.img-icon {
    width: 30px;
    border-radius: 5px;
    margin-right: 10px;
}
.fa-github{
    font-size: xx-large;
    margin-right: 10px;
}
